{% extends 'layout.html' %}
{% block content %}
    <div class="has-text-centered mt-3">
        <h1 class="title is-1">Inwokacja</h1>
        <p>
            Litwo, Ojczyzno moja! ty jesteś jak zdrowie;<br>
            Ile cię trzeba cenić, ten tylko się dowie,<br>
            Kto cię stracił. Dziś piękność twą w całej ozdobie<br>
            Widzę i opisuję, bo tęsknię po tobie.<br>
            Panno Święta, co Jasnej bronisz Częstochowy<br>
            I w Ostrej świecisz Bramie! Ty, co gród zamkowy<br>
            Nowogródzki ochraniasz z jego wiernym ludem!<br>
            Jak mnie dziecko do zdrowia powróciłaś cudem<br>
            (Gdy od płaczącej matki pod Twoję opiekę<br>
            Ofiarowany, martwą podniosłem powiekę<br>
            I zaraz mogłem pieszo do Twych świątyń progu<br>
            Iść za wrócone życie podziękować Bogu),<br>
            Tak nas powrócisz cudem na Ojczyzny łono.<br>
            Tymczasem przenoś moję duszę utęsknioną<br>
            Do tych pagórków leśnych, do tych łąk zielonych,<br>
            Szeroko nad błękitnym Niemnem rozciągnionych;<br>
            Do tych pól malowanych zbożem rozmaitem,<br>
            Wyzłacanych pszenicą, posrebrzanych żytem;<br>
            Gdzie bursztynowy świerzop, gryka jak śnieg biała,<br>
            Gdzie panieńskim rumieńcem dzięcielina pała,<br>
            A wszystko przepasane, jakby wstęgą, miedzą<br>
            Zieloną, na niej z rzadka ciche grusze siedzą.
        </p>
        <a class="button is-info mt-2" href="{{ url_for('poem') }}">Wierszyk</a>
    </div>
{% endblock content %}
